# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [85]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [86]:
# Import Clean City Data
weather = os.path.join('..', 'WheaterPy','Output_Data','Clean_City_Data.csv')
weather_df = pd.read_csv(weather)
weather_df

,City,Lat,Lng,Max Temp (C),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
0,Clyde River,70.4692,-68.5914,-0.87,86,40,7.72,CA,1622047223
1,Lebu,-37.6167,-73.6500,15.92,81,98,3.63,CL,1622047165
2,Busselton,-33.6500,115.3333,11.69,64,100,5.46,AU,1622047242
3,Rikitea,-23.1203,-134.9692,24.84,79,38,11.23,PF,1622047221
4,Alofi,-19.0595,-169.9187,23.94,94,88,1.54,NU,1622047344
...,...,...,...,...,...,...,...,...,...
562,Jaciara,-15.9653,-54.9683,33.28,39,6,0.73,BR,1622047966
563,Verkhnevilyuysk,63.4453,120.3167,6.32,88,91,1.69,RU,1622047966
564,Lahaina,20.8783,-156.6825,23.03,83,36,3.10,US,1622047967
565,Superior,46.7208,-92.1041,10.67,55,75,7.72,US,1622047967
566,Huilong,31.8111,121.6550,19.99,94,100,4.64,CN,1622047967

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [88]:
# Store latitude and longitude in locations
world_location = weather_df[['Lat', 'Lng']]

# Store humidity
humidity = weather_df['Humidity (%)']

In [89]:
# Plot Heatmap
# Customize the size of the figure
figure_layout = {
    'width': '1000px',
    'height': '700px',
    'border': '1px solid black',
    'padding': '3px',
    'margin': '0 auto 0 auto'}

fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(world_location, weights=humidity, 
                                 dissipating=False, max_intensity=1,
                                 point_radius=0.5)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [90]:
fitting_weather = weather_df.loc[(weather_df['Max Temp (C)']>=15) & (weather_df['Max Temp (C)']<=35) & (weather_df['Wind Speed (mph)']<=30) & (weather_df['Cloudiness (%)'] == 0),:]
fitting_weather.reset_index(drop=True)

,City,Lat,Lng,Max Temp (C),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
0,Cape Town,-33.9258,18.4232,15.07,74,0,1.08,ZA,1622047711
1,Terenos,-20.4422,-54.8603,30.84,45,0,2.53,BR,1622047832
2,Miran Shah,33.0086,70.0697,29.48,30,0,1.18,PK,1622047833
3,Port Elizabeth,-33.9180,25.5701,16.16,77,0,1.54,ZA,1622047834
4,Abu Kamal,34.4506,40.9171,33.32,13,0,3.06,SY,1622047834
5,Abhā,18.2164,42.5053,23.14,60,0,1.97,SA,1622047373
6,East London,-33.0153,27.9116,17.52,88,0,2.06,ZA,1622047182
7,Santa Fe,-31.6333,-60.7000,22.22,41,0,1.79,AR,1622047574
8,Mar del Plata,-38.0023,-57.5575,15.91,59,0,7.60,AR,1622047755
9,Abu Samrah,35.3029,37.1841,28.43,22,0,5.44,SY,1622047849
10,Bykovo,55.6361,38.0803,21.63,43,0,3.63,RU,1622047854
11,Seoul,37.5683,126.9778,16.52,58,0,4.42,KR,1622047859
12,Cidreira,-30.1811,-50.2056,19.08,48,0,2.69,BR,1622047859
13,Valparaíso,-33.0393,-71.6273,23.34,29,0,5.14,CL,1622047647
14,Talara,-4.5772,-81.2719,25.42,65,0,6.69,PE,1622047866
15,Samfya,-11.3649,29.5565,16.72,48,0,0.39,ZM,1622047875
16,Mahon,39.8885,4.2658,19.31,55,0,5.14,ES,1622047876
17,Alexandria,31.2156,29.9553,24.98,65,0,5.66,EG,1622047807
18,Bāfq,31.6128,55.4107,27.84,20,0,8.56,IR,1622047355
19,Beian,63.6559,9.5683,15.95,59,0,6.17,NO,1622047879
20,Jinchang,38.4953,102.1739,18.49,16,0,2.65,CN,1622047894
21,Jiuquan,39.7432,98.5174,21.44,16,0,5.17,CN,1622047901
22,Vinnytsia,49.2328,28.4810,17.36,77,0,0.00,UA,1622047909
23,Namwala,-15.7504,26.4384,16.79,37,0,1.30,ZM,1622047910
24,Yinchuan,38.4681,106.2731,19.57,14,0,2.62,CN,1622047331
25,Umluj,25.0213,37.2685,29.57,56,0,3.13,SA,1622047916
26,Kumul,42.8000,93.4500,26.90,13,0,2.83,CN,1622047750
27,Tiznit Province,29.5833,-9.5000,20.05,61,0,4.48,MA,1622047919
28,Baddomalhi,31.9928,74.6683,29.31,12,0,2.92,PK,1622047932
29,Mwinilunga,-11.7358,24.4293,15.64,53,0,2.14,ZM,1622047356
30,Benguela,-12.5763,13.4055,25.65,71,0,1.61,AO,1622047939
31,Gobabis,-22.4500,18.9667,16.53,26,0,4.28,NaN,1622047940
32,Kiryat Gat,31.6100,34.7642,26.83,46,0,3.76,IL,1622047341
33,Luanda,-8.8368,13.2343,27.00,83,0,4.63,AO,1622047346
34,Mount Isa,-20.7333,139.5000,16.87,27,0,8.23,AU,1622047955
35,Suez,29.9737,32.5263,28.24,29,0,6.32,EG,1622047959
36,São Pedro do Sul,-29.6206,-54.1789,19.36,42,0,0.42,BR,1622047928
37,Rundu,-17.9333,19.7667,18.13,35,0,2.33,NaN,1622047965
38,Zhoucheng,35.9122,116.3117,20.01,62,0,1.11,CN,1622047965

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [101]:
hotel = []
target_search = 'hotel'
radius = 8000

for city in range(len(fitting_weather['City'])):
    lat = fitting_weather.loc[city]['Lat']
    lng = fitting_weather.loc[city]['Lng']
    coords = f'{lat},{lng}'
    params = {
    "location": coords,
    "keyword": target_search,
    "radius": radius,
    "key": gkey}
    
    b_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    h_response = requests.get(base_url, params)
    
    try:
        hotel.append(h_response['request'][0]['name'])
    except:
        hotel.append('No hotels nearby')

KeyError: 0

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure